section {
  margin-top: 2rem;
}

section h2 {
  font-size: 2rem;
}


section h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}

i {
  font-size: 1.5rem;
}